html{
	height: 100%;
}

body{
height: 100%;
margin: 0px;
}

.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 250px;
    height: 340px;
    border: 1.5px solid;
    position: relative;
    background-color: rgb(240, 253, 255);
    border-radius: 10px;
	border-color: black;
}
.num{
    color: red;
	font-size: 45px;
	font-weight: 600;
}
.up_num{
    position: absolute;
    top: 0.5px;
    left: 10px;
}
.down_num{
    position: absolute;
    bottom: 0.5px;
    right: 10px;
}

.squares{
	position:absolute;
	background: red;
	width: 27px;
    height: 27px;
	rotate: 45deg;
}
span#squere1.squares{
    top: 40px;
    left: 40px;
}

span#squere2.squares{
    top: 150px;
    left: 40px;
}
span#squere3.squares{
    top: 260px;
    left: 40px;
}

span#squere4.squares{
    top: 40px;
    right: 40px;
}

span#squere5.squares{
    top: 150px;
    right: 40px;
}
span#squere6.squares{
    top: 260px;
    right: 40px;
}
span#squere7.squares{
	top: 95px;
	left: 110px;
}
span#squere8.squares{
	top: 200px;
	left: 110px;
}