html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 340px;
    border: 1.5px solid;
    position: relative;
    background-color: rgb(240, 253, 255);
    border-radius: 10px;
    border-color: black;
}

.num {
    position: absolute;
    color: red;
    font-size: 45px;
    font-weight: 600;
}

.up_num {
    top: 0.5px;
    left: 10px;
}

.down_num {
    bottom: 0.5px;
    right: 10px;
}

.square {
    position: absolute;
    background: red;
    width: 27px;
    height: 27px;
    rotate: 45deg;
}

.square_1 {
    top: 40px;
    left: 40px;

}

.square_2 {
    top: 150px;
    left: 40px;
}

.square_3 {
    top: 260px;
    left: 40px;
}

.square_4 {
    top: 40px;
    right: 40px;
}

.square_5 {
    top: 150px;
    right: 40px;
}

.square_6 {
    top: 260px;
    right: 40px;
}

.square_7 {
    top: 95px;
    left: 110px;
}

.square_8 {
    top: 205px;
    left: 110px;
}